@import url('../dummy/dummy.component.css');

.top-div{
    /* border-bottom-color: #181717 !important;
    border-bottom: solid thin; */
    z-index: 1;
    background-color: #292a2b;
    height: 54px;
    position: relative;
    top: -4px;
    border-top-left-radius: 6px;
}

.top-div-input{
    background: #19191a;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 12px;
    padding: 5px;
    width: 90%;
    border: none;
}

.top-div-input:focus-visible{
    outline: none;
    color: white;
}

.customScroll.posHeight{
    position: relative;
    top: -4px;
    width: 264px;
    color: aliceblue;
    background: #292a2b;
    height: 100vh;
}

.name-faded:hover{
    color: white;
}

