<div class="">
    <div class="container-fluid section-hero-imagine home-2023 position-absolute" style="background-color: #4949ff;height: 400px;">

        <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/644fab4df2dc8d7a9a081ebd_8a8375ab7908384e1fd6efe408284203.svg" loading="lazy" alt="" class="hero-home-image _2">
        <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/644fab4db9ca0a124b73d4b7_c40c84ca18d84633a9d86b4046a91437.svg" loading="lazy" alt="" class="hero-home-image _1">
    </div>

</div>
