
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

.hero-home-image{
    max-width: 100%;
    right: 0;
    position: absolute;
    background-size: cover;
}




.custom-flex{
    display: flex;
}

.custom-flex-2{
    display: flex;
    flex-direction: row-reverse;
}
.custom-width{
    max-width: 30%;
}
@media screen and (min-width: 991px){
    .banner-img{
        max-width: 75%;
    }

    ._1{
        
        max-width: 100%;
        background-size: cover;
        position: absolute;
        bottom: 0%;
        right: -229px;
    }

}

@media screen and (max-width: 991px){
    ._1{
        display: none;
    }
    .custom-flex,.custom-flex-2 {
        align-items: center;
        
        flex-direction: column;
    }
    .custom-width{
        max-width: 100%;
    }
    .custom-font-h3{
        font-size: 20px!important;
    }
    .custom-font-h1{
        font-size: 15px!important;
    }
    .banner-img{
        display: inline-block;
        max-width: 100%;
    }
}
.haha{
    width: 90%;
    max-width: 1180px;

}

.font-hero{
    font-family: "ABC Ginto Nord Condensed Unlicensed Trial", sans-serif;
    font-size: 56px;
    font-weight:900;
    color: white;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
}

.para-hero{
    font-size: 20px;
    max-width: 780px;
    margin: 0 auto;
    line-height: 1.625;
}

.padding-16px {
    width: 100%;
    height: 16px;
}



.custom-font-h3{
    line-height: normal;
    font-size: 40px;
}
.custom-font-h1{
    color: #4b5257;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
}



@media (max-width:500px){
    .hero-home-image{
        max-width: 100%;
        /* max-width: 70%; */
        position: absolute;
        /* position: relative; */
        bottom: 0%;
        /* top: 75%; */
        left: 0px;
    }
    .font-hero{
        font-size: 24px;
    }
    .para-hero{
        font-size: 17px;
    }
    .home{
        
            height: 100% !important;
        
            margin-top: 0px;
            
            
        
    }
    .haha{
        flex-direction: column;
    }
    .downloadbtn{
        max-width: 60%;
        /* padding-inline: 100px; */
    }
    
    ._hero1,._hero2{
        margin-bottom: 20px;
        font-size: 100% !important;
        overflow-wrap: break-word;
    }
    
    .hero-text{
        margin-top: 100%;
    }
}
@media (max-width:991px) {
    .home{
        min-height: 700px;
        height: 100%!important;
    }
    .hero-text{
        margin-top: 123px;
    }
    
}

@media (min-width:767px){
    .para-hero{
        margin-inline: 25%;
    }
    .downloadbtn{
        justify-content: center;
        margin-inline: auto;
    }
}

@media (max-width:767px){
    
    .font-hero, .para-hero{
        
        text-align: left!important;
    }
    .para-hero{
        margin-left: 0px;
    }
    .hero-text{
        margin-left: 9px;
    }
    .downloadbtn{
        margin-left: 0px;
        justify-content:start;
    }
    
}

@media (min-width:501px) and (max-width:900px){

    .hero-home-image{
        max-width: 70%;
        position: absolute;
        bottom: 0%;
        /* bottom: -8%; */
        left: 0px;
    }
}

@media (min-width:900px) {

   
   
    .hero-home-image{
        max-width: 100%;
        background-size: cover;
        position: absolute;
        bottom: 0%;
        /* bottom: -8%; */
        left: -350px;
    }
}

.home{
    overflow: hidden;
    padding: 2%;
    margin-top: -38px;
    height: 600px;
    position: relative;
    background-color: #4949ff;
}

@media (min-width:500px){
    .downloadbtn{
        justify-content: center;
    }
}


@media  (max-width:991px) and (min-width:768px){
    .para-hero{
        margin-inline: 5%;
    }
}



