<div class=" col " >
    <div class="home " >

        <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/644fab4df2dc8d7a9a081ebd_8a8375ab7908384e1fd6efe408284203.svg" loading="lazy" alt="" class="hero-home-image _2">
        <!-- <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/644fab4db9ca0a124b73d4b7_c40c84ca18d84633a9d86b4046a91437.svg" loading="lazy" alt="" class="hero-home-image _1"> -->
    </div>


    <div class="my-5 py-5 " >

        <div  class=" w-100 position-relative custom-flex" style="height: 100%;" >

            <div >
                <img class="banner-img" loading="lazy" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/6582c18a9cff186bd3731704_Create%20an%20invite-only%20place%20where%20you%20belong.svg" />
           
            </div>
            <div class="mx-sm-5 mx-5 w-lg-50 mt-lg-3 custom-width">
                <p class=""><strong class="custom-font-h3">Create an invite-only place where you belong</strong></p>
                <p class="custom-font-h1">
                    Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.
                </p>
    
            </div>
        </div>

    </div>

    
    <div class="py-5" style="background-color: #e9eaf19e;">
        <div class=" w-100  position-relative custom-flex-2" style="height: 100%;" >

            <div >
                <img class="banner-img" loading="lazy" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/6582c1b717efff2306ef179e_Where%20hanging%20out%20is%20easy.svg" />
           
            </div>
            <div class="mx-sm-5 mx-5 w-lg-50 mt-lg-3 custom-width">
                <p class=""><strong class="custom-font-h3">Create an invite-only place where you belong</strong></p>
                <p class="custom-font-h1">
                    Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.
                </p>
    
            </div>
        </div>
        
    </div>

    <div class="my-5 py-5" >

        <div class=" w-100 position-relative custom-flex" style="height: 100%;" >

            <div >
                <img class="banner-img " loading="lazy" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/6582c1d8348e5c81ca608138_From%20few%20to%20a%20fandom.svg" />
           
            </div>
            <div class="mx-sm-5 mx-5 w-lg-50 mt-lg-3 custom-width">
                <p class=""><strong class="custom-font-h3">Create an invite-only place where you belong</strong></p>
                <p class="custom-font-h1">
                    Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.
                </p>
    
            </div>
        </div>
    </div>
    

    

    
    <app-footer ></app-footer>

</div>







