<div class="footer-black container-fluid" >
<div class=" custom-new"  >
    <div class="">
        <div style="width: 80px;background-color: aqua;height: 30px;"></div>
        <div style="width: 80px;background-color: rgb(198, 228, 32);height: 30px;"></div>


    </div>
    <div class="d-flex custom-next  ">
        <div class="d-inline-flex  custom-div" style="max-width: 400px;
        min-width: 50%;" >
            <div class="" style="color: white; " >
                <p class="mt-2">haha1</p>
                <p class="mt-2">haha1</p>
                <p class="mt-2">haha1</p>
                <p class="mt-2">haha1</p>
            </div>
            <div class="" style="color: white;  ">
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                <p class="mt-2">haha2</p>
                
                
            </div>

        </div>

        <div class="d-inline-flex  custom-div " style="max-width: 400px;
        min-width: 50%;" >

            <div class="" style="color: white;">
                <p class="mt-2">haha3</p>
                <p class="mt-2">haha3</p>
                <p class="mt-2">haha3</p>
                <p class="mt-2">haha3</p>
                <p class="mt-2">haha3</p>
                <p class="mt-2">haha3</p>
                
            </div>
            <div class="" style="color: white;">
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                <p class="mt-2">haha4</p>
                
                
            </div>
        </div>
        
        
    

    </div>

    

</div>
</div>