<div class="col footer-black " style="height: 100vh;">
<div class=" " >
    <div class="" style="grid-area: span 1 / span 4 / span 1 / span 4;">
        <div style="width: 80px;background-color: aqua;height: 30px;"></div>
        <div style="width: 80px;background-color: rgb(198, 228, 32);height: 30px;"></div>


    </div>
    <div class="d-flex ">
        <div class="d-flex flex-column  col" style="color: white;" >
            <a>haha1</a>
            <a>haha1</a>
            <a>haha1</a>
            <a>haha1</a>
            <a>haha1</a>
            <a>haha1</a>
        </div>
        <div class="d-flex flex-column col" style="color: white;">
            <a>haha2</a>
            <a>haha2</a>
            <a>haha2</a>
            <a>haha2</a>
            <a>haha2</a>
            <a >haha2</a>
            <a>haha2</a>
            <a>haha2</a>
            <a>haha2</a>
            
        </div>
        <div class="d-flex flex-column col " style="color: white;">
            <a>haha3</a>
            <a>haha3</a>
            <a>haha3</a>
            <a>haha3</a>
            <a>haha3</a>
            <a>haha3</a>
            
        </div>
        <div class="d-flex flex-column col " style="color: white;">
            <a text-18px-white>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
            <a>haha4</a>
        </div>
    

    </div>

    

</div>
</div>