<div class="fixed-top" style="background-color: #1f1e21;height: 31px;z-index: 1;"></div>
<div class="" style="display: flex;">
  <app-navbar class=" " ></app-navbar>
  <div class="col ">
    <nav class="fixed-top" style="  
    display: flex;  
    position: absolute;
    top: 21px;
    left: 100px;
    height: 49px;
    box-shadow: 0 1px 6px #0000008a;
    background-color: #35383b ;
    z-index: 2;
    border-top-left-radius: 10px;">
    <div style="width: 264px;background: #292a2b ;   border-top-left-radius: 10px;">
      
    </div>
  
    <div class="col">
        
    </div>

  </nav>
    <app-dummy style="
    position: relative;
    background: #35383b;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    "></app-dummy>
  </div>
 
</div>

<router-outlet></router-outlet>

