<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="collapse navbar-collapse " id="collapsibleNavbar" style="position: absolute;
top: 0px;" >
  <div class="container-fluid bg-dark d-md-none d-lg-none d-sm-block" style="height: 100vh;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Nitro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Safety</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Career</a>
      </li>
    </ul>
  </div>
</div>
