#collapsibleNavbar{
    height: 100vh;
    width: 0px;
    transition:0.3s  ease-in-out;

}
#collapsibleNavbar.show {
    width: 200px;
    right: 0; /* Visible when show class is added */
}

@media (max-width: 992px) {
    .navbar.fixed-top {
        position: sticky;
        top: 0;
        
    }

}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    
    flex-wrap: wrap;
    flex-direction: row;
}

}

/* @media (max-width:767px) {
    .navbar{
        position: sticky;
        
    }
    
} */

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url('https://assets-global.website-files.com/6257adef93867e50d84d30e2/625846fc39fbe53385840143_1%20(3).svg');
}



